<div class="container">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<div class="page-header">
			<h2>Change Password</h2>
		</div>

        <br />
			<form class="form-horizontal" name="changePassword"
				ng-submit="changeMyPassword()" role="form">
				<fieldset>
					<div class="form-group"
						ng-class="{ 'has-error': changePassword.old.$dirty && changePassword.old.$invalid && changePassword.old.$touched,'has-success': changePassword.old.$valid && changePassword.old.$touched}">
							<label for="oldPassword" class="col-lg-5 control-label">Enter
								old password :</label>
							<div class="col-lg-7">
								<input class="form-control" placeholder="Old Password" type="password" name="old" ng-model="user.password.old" id="oldPassword" required ng-minlength="5" ng-maxlength="20" /><span
									ng-show="changePassword.old.$dirty && changePassword.old.$error.required && changePassword.user.password.old.$touched"
									class="help-block">Password is required.</span> <span
									ng-show="changePassword.old.$error.minlength && changePassword.old.$touched"
									class="help-block">Password is too short. It should be
									more than 5 characters</span> <span
									ng-show="changePassword.old.$error.maxlength && changePassword.old.$touched"
									class="help-block">Password is too long. It should be
									less than 20 characters.</span>
					</div>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error': changePassword.new.$dirty && changePassword.new.$invlaid && changePassword.new.$touched,'has-success': changePassword.new.$valid && changePassword.new.$touched}">
							<label for="newPassword" class="col-lg-5 control-label">Enter
								old password :</label>
							<div class="col-lg-7">
								<input class="form-control" placeholder="New Password" type="password" ng-model="user.password.new" name="new"
									id="oldPassword" required ng-minlength="5" ng-maxlength="20" /><span
									ng-show="changePassword.new.$dirty && changePassword.new.$error.required && changePassword.new.$touched"
									class="help-block">Password is required.</span> <span
									ng-show="changePassword.new.$error.minlength && changePassword.new.$touched"
									class="help-block">Password is too short. It should be
									more than 5 characters</span> <span
									ng-show="changePassword.new.$error.maxlength && changePassword.new.$touched"
									class="help-block">Password is too long. It should be
									less than 20 characters.</span>
						</div>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error': changePassword.confirm.$dirty && changePassword.confirm.$invalid && changePassword.confirm.$touched,'has-success': changePassword.confirm.$valid && changePassword.confirm.$touched}">
							<label for="confirmPassword" class="col-lg-5 control-label">Enter
								new password again:</label>
							<div class="col-lg-7">
								<input class="form-control" placeholder="Confirm New Password" type="password" ng-model="user.password.confirm" name="confirm"
									id="oldPassword" required ng-minlength="5" ng-maxlength="20" 
									compare-to="user.password.new" /><span
									ng-show="changePassword.confirm.$dirty && changePassword.confirm.$error.required && changePassword.confirm.$touched"
									class="help-block">Password is required.</span> <span
									ng-show="changePassword.confirm.$error.minlength && changePassword.confirm.$touched"
									class="help-block">Password is too short. It should be
									more than 5 characters</span> <span
									ng-show="changePassword.confirm.$error.maxlength && changePassword.confirm.$touched"
									class="help-block">Password is too long. It should be
									less than 20 characters.</span>
									<span
                    ng-show="changePassword.confirm.$dirty && changePassword.confirm.$invalid && changePassword.confirm.$touched"
                    class="help-block">Passwords don't match.</span>
						</div>
					</div>
				</fieldset>
				  <div class="col-lg-10 col-lg-offset-2 form-group" align="center">
                      
				<button type="submit" ng-disabled="changePassword.$invalid"
					class="btn btn-primary">Change password</button>
				</div>
			</form>
	</div>
</div>