<div class="container">

	<div class="col-lg-12 col-md-12 col-sm-9">
		<div id="chitika-ad-leaderboard"></div>
		<script type="text/javascript">
			(function () {
				if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
				var unit = { "calltype": "async[2]", "publisher": "salilmalik", "width": 728, "height": 90, "sid": "Chitika Default" };
				var placement_id = window.CHITIKA.units.length;
				window.CHITIKA.units.push(unit);
				document.getElementById('chitika-ad-leaderboard').id = 'chitikaAdBlock-' + placement_id;
			} ());
		</script>
<div class="page-header">
	<h2>Image</h2>
</div>
<div id="chitika-ad-left" class="pull-left"></div>
<script type="text/javascript">
	(function () {
		if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
		var unit = { "calltype": "async[2]", "publisher": "salilmalik", "width": 160, "height": 600, "sid": "Chitika Default" };
		var placement_id = window.CHITIKA.units.length;
		window.CHITIKA.units.push(unit);
		document.getElementById('chitika-ad-left').id = 'chitikaAdBlock-' + placement_id;
	} ());
</script>
<div>
	<img class="img-responsive" ng-src="{{img}}" imageonload='doThis()'></img>
</div>

<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
<!-- PopAds.net Popunder Code for www.donxup.com -->
<script type="text/javascript" data-cfasync="false">
	//<![CDATA[
	var _pop = _pop || [];
	_pop.push(['siteId', 1690145]);
	_pop.push(['minBid', 0]);
	_pop.push(['popundersPerIP', 0]);
	_pop.push(['delayBetween', 0]);
	_pop.push(['default', false]);
	_pop.push(['defaultPerDay', 0]);
	_pop.push(['topmostLayer', false]);
	(function () {
			console.log('AAAA');
		var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
		var s = document.getElementsByTagName('script')[0];
		pa.src = '//c1.popads.net/pop.js';
		pa.onerror = function () {
			console.log('ASDSdSDAS');
			var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
			sa.src = '//c2.popads.net/pop.js';
			s.parentNode.insertBefore(sa, s);
		};
		s.parentNode.insertBefore(pa, s);
	})();
//]]>
</script>
<!-- PopAds.net Popunder Code End -->
</div>
</div>