<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="page-header">
			<h2>FAQ</h2>
		</div>
		<div>
			FAQ <b>What is Donup?</b></font> <br>
			<p>
				Donup is free image hosting website. You can upload your images and
				share them with your friends in an easy way. In addition to that you
				can make money sharing your images.<br> <br>
			</p>
			<p>
				<b>Do you decrease or hold my earning with some traffic issue?</b>
			</p>
			<br> No, unlike most of other websites we don't decrease your
			points/earnings according to traffic source. You will earn according
			to your traffic source. if you are sending genuine traffic and you
			reach minimum payout you will get paid.<br> <br>

			<p>
				<b>Why i haven't got paid even after 7 days are passed ?</b>
			</p>
			<br> If you haven't got paid within 7 days than please check
			your email , don't forgot to check your spam folder. You must have
			got email from us regarding your payment delay. We do a small
			verification randomly and this is only once. You can also contact us
			if you haven't receive any email.<br> <br>

			<p>
				<b>When do I get paid?</b>
			</p>
			<br> Once you requested payment , we will verify your account
			and pay you asap. Although maximum time for wait is 5-7 days , but we
			usually pay within 1-7 days. Of course delay can happen if there is
			some technical reason , but we want to assure you that you will get
			paid if your work is legit.<br> <br>


			<p>
				<b>Is this legit program / do Donup pays?</b>
			</p>
			<br> Of course we do. We have thousands of happy users who get
			paid daily. You can check out our forums which are full of payment
			proofs and active conversations. We us most important is our users
			and we do our best to pay fast , provide best support and keep our
			users happy.<br> <br>

			<p>
				<b>What are the benefits of referring a friend?</b>
			</p>
			<br> If you refer a friend to Donup, you will earn 10% of total
			points earned by them for rest of your life.<br> <br>
			<p>
				<b>Is copyright content allowed?</b>
			</p>
			<br> Donup do not allow users to post copyright content. If we
			receive report of a user posting content that infringes on the
			copyrights of others, we will delete user's content along with his
			account and his earnings.<br> <br>
			<p>
				<b>When i can request the payment ?</b>
			</p>
			<br> When you reach minimum payout that is $4 you can request
			for payment.<br> <br>
			<p>
				<b>What are payment methods?</b>
			</p>
			<br> We pay via several methods.<br> <br>
			<p>
				<b>Why did my images get deleted?</b>
			</p>
			<br> You either posted offensive or copyrighted content.<br>
			<br>
			<p>
				<b>Why was my account banned/deleted?</b>
			</p>
			<br> Either you posted offensive/copyrighted content or broke
			one of our TOS. We send an email to individual users as to why their
			account has been banned or deleted. If you do not receive email
			please check your spam box before contacting us.<br> <br>
			<p>
				<b>I still have a question, what should I do?</b>
			</p>
			<br> If your question has not been answered here you can contact
			us via email support@Donup.com. We aim to respond to your email
			within 24 hours.&nbsp; You can also create support ticket by clicking
			support on top.
		</div>
	</div>