<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <div class="page-header">
            <h2>Forgot Password</h2>
        </div>
        <form name="forgotPassword" ng-submit="sendPassword()" role="form" class="form-horizontal">
            <h3>Please enter your email ID:</h3>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': forgotPassword.username.$dirty && forgotPassword.username.$invalid && forgotPassword.username.$touched,'has-success': forgotPassword.username.$valid && forgotPassword.username.$touched}">
                    <label class="col-lg-2 control-label" for="username">Email
                        ID: </label>
                    <div class="col-lg-10">
                        <input class="form-control" placesholder="Email ID/Username" type="email" name="username" id="username" class="form-control"
                            ng-model="user.username" required ng-minlength="5" ng-maxlength="50" />
                        <span
                            ng-show="forgotPassword.username.$dirty && forgotPassword.username.$error.required  && forgotPassword.username.$touched "
                            class="help-block">Username is required.</span> <span ng-show="forgotPassword.username.$invalid && !forgotPassword.username.$pristine  && forgotPassword.username.$touched"
                                class="help-block">Enter a valid email.</span> <span ng-show="forgotPassword.username.$error.minlength  && forgotPassword.username.$touched "
                                class="help-block">Email is too short.</span> <span ng-show="forgotPassword.username.$error.maxlength  && forgotPassword.username.$touched "
                                class="help-block">Email is too long. It should be less
                            than 50 characters.</span>
                    </div>
                    <br />

                </div>
            </fieldset>
            <div class="col-lg-10 col-lg-offset-2 form-group" align="center">
                <button type="submit" ng-disabled="forgotPassword.$invalid" class="btn btn-primary">Send me the password.</button>
            </div>
        </form>
    </div>
</div>