<div class="container">
	<div id="chitika-ad-mega"></div>
	<script type="text/javascript">
		(function () {
			if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
			var unit = { "calltype": "async[2]", "publisher": "salilmalik", "width": 550, "height": 250, "sid": "Chitika Default" };
			var placement_id = window.CHITIKA.units.length;
			window.CHITIKA.units.push(unit);
			document.getElementById('chitika-ad-mega').id = 'chitikaAdBlock-' + placement_id;
		} ());
	</script>
<div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
	<div class="page-header">
		<h2>Image Links</h2>
	</div>
	<div>
		<p class="lead">
			Files Uploaded. <br> Copy the below links to your clipboard.
		</p>

		<div class="form-group">
			<label for="view">View Link</label>
			<textarea class="form-control" rows="5" id="view" ng-model="view" select-on-click></textarea>
		</div>
		<div class="form-group">
			<label for="forum">Forum Code:</label>
			<textarea class="form-control" rows="5" id="forum" ng-model="forum" select-on-click></textarea>
		</div>
		<div class="form-group">
			<label for="htmlcode">HTML code :</label>
			<textarea class="form-control" rows="5" id="htmlcode" ng-model="htmlcode" select-on-click></textarea>
		</div>
	</div>
</div>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</div>