<div class="container">
 <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="page-header">
            <h2>Multiple Image Links</h2>
        </div>
        <div>
	<p class="lead">
		Files Uploaded. <br> Copy the below links to your clipboard.
	</p>
	<div class="form-group">
		<label for="view">View Link</label>
		<textarea class="form-control" rows="5" id="view" ng-model="view" select-on-click></textarea>
	</div>
	<div class="form-group">
		<label for="forum">Forum Code:</label>
		<textarea class="form-control" rows="5" id="forum" ng-model="forum" select-on-click></textarea>
	</div>
	<div class="form-group">
		<label for="htmlcode">HTML code :</label>
		<textarea class="form-control" rows="5" id="htmlcode"
			ng-model="htmlcode" select-on-click></textarea>
	</div>
</div>
</div>
</div>

