<div class="container">
	<div
		class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<div class="page-header">
			<h2>Reset Password</h2>
		</div>
		<form name="resetPassword" ng-submit="resetMyPassword()" role="form"
			class="form-horizontal">
			<fieldset>
				<div class="form-group"
					ng-class="{ 'has-error':resetPassword.user.password.$dirty &&
						resetPassword.user.password.$invalid && resetPassword.user.password.$touched }">
					<label class="col-lg-5 control-label" for="password">Enter
						new password: </label>
					<div class="col-lg-7">
						<input class="form-control" placeholder='New Password' type="password" name="password"
							id="password" class="form-control" ng-model="user.password"
							equals="{{user.confirmPassword}}" required ng-minlength="8"
							ng-maxlength="20" /> <span
							ng-show="resetPassword.user.password.$dirty && resetPassword.user.password.$error.required && resetPassword.password.$touched"
							class="help-block">Password is required.</span> <span
							ng-show="resetPassword.user.password.$error.minlength && resetPassword.user.password.$touched"
							class="help-block">Password is too short.</span> <span
							ng-show="resetPassword.user.password.$error.maxlength && resetPassword.user.password.$touched"
							class="help-block">Password is too long. It should be less
							than 20 characters.</span>
					</div>
				</div>
				<div class="form-group"
					ng-class="{ 'has-error': resetPassword.user.confirmPassword.$dirty && resetPassword.user.confirmPassword.$invaid  && resetPassword.user.password.$touched }">
					<label class="col-lg-5 control-label" for="password">Confirm
						new password: </label>
					<div class="col-lg-7">
						<input class="form-control" type="password" placeholder='Confirm New Password' name="confirmPassword"
							id="confirmPassword" class="form-control"
							ng-model="user.confirmPassword" equals="{{user.password}}"
							required /> <span
							ng-show="resetPassword.user.confirmPassword.$dirty && resetPassword.user.confirmPassword.$error.required && resetPassword.user.confirmPassword.$touched"
							class="help-block">Passwords don't match.</span>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" ng-disabled="resetPassword.$invalid"
						class="btn btn-primary">Reset Password</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>