<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="page-header">
			<h2>Terms and conditions</h2>
		</div>
		<div>
			<b>Introduction</b> Donup is a free Image hosting site which allow users to upload images. Registered users can earn quick
			money by sharing images and links uploaded on Donup with their friends or anywhere on world wide web. The more views your
			images get the more money you earn. <b>Donup Terms and Condition</b> 1.Only one account is allowed per person. If we found
			user signing up for more than one accounts, we will ban All accounts of user and cancel all earnings. 2.Uploading offensive
			material, copyright material, or any illegal stuff will result in permanent ban of your account and all earnings will
			be canceled without any notification, If you are not a account holder and we find you are uploading offensive images,
			they will be deleted on the spot and your ip will be permanently banned. 3.Donup have the right to delete, move or replace
			any uploaded image which comes under the category of copyrighted material, harassment or offensive material and have no
			responsibility for lost image or image url. 4.You are responsible for maintaining the confidentiality of the password
			and your account security and are fully responsible for all activities that occur under your password or account. You
			agree to immediately notify Donup of any unauthorized use of your password or account or any other breach of security,
			and ensure that you sign out from your account at the end of each session. Donup will not be or will not take any responsibility
			for any loss or damage arising from your failure to comply with the rule. 6.Donup have the right to change CPM rates anytime
			without prior notice. All further earnings will be according to new CPM rates effective immediately. 7.While sharing images
			or links, the following behavior or constituent 'abuse' and will result to your account cancellation immediately and without
			notification:- a. Sending spam emails or messages or spam via IMS b. Generating fake traffic. (i.e. self-clicking or using
			autosurf software/website/bots) c. Generating traffic by using hidden frames. d. Forcing user to click on image or image
			url. e. Trying to get views via PTC traffic. f. Trying to get views via traffic trading. All the above points will be
			consider as fraud and result to cancellation account and earning on the spot. 8.Donup have the right to remove any content
			that compromises with the security of Donup servers or Donup staff. 9.Donup has the right to suspend, block or removal
			of your account or images in case of any security threat or in exceed of bandwidth or exceed in limitation given to the
			type of account. 10.Donup will not be responsible for payment delay, Donup will only pay after reviewing your account
			upto security level. 11.Payout date can be change by the Donup at any time or number of payout days can be increased or
			decreased. User will only be paid on the date decided by Donup at the time of payment request. 12.Payment will be given
			only after verifying your account, your images and source of views/hits to your images by Donup Staff , Any fake clicks
			or illegal clicks detected by our system or staff will result in immediate ban of your account. 13.All legal adult images
			are allowed. 14.Uploading child porn or any child abuse images will result in immediate ban and all earnings will be canceled.
			Further in this kind of case Donup will work and provide full support and information to legal authorities. 15.Uploading
			any offending adult content/animal abuse or porn/child abuse or porn or any adult content which is offending will result
			in permanent ban. 16. Donup directs full legal responsibility of the contents of the files that are uploaded to imgChili
			to individual users. Disclaimer: Though Donup has applied a strict rules and regulations to regulate all the image sharing
			behavior and continuously and vigilantly monitors the types of images uploaded to its servers, Donup is not responsible
			for the content of any uploaded files, nor is it in affiliation with any entities that may be represented in the uploaded
			files as images are uploaded by users. Donup will attach importance to your abuse reports, and will take appropriate action
			within 24 hours!
		</div>
	</div>
</div>